# 프로그래머스 - 없어진 기록 찾기

In [1]:
-- 코드를 입력하세요
SELECT ANIMAL_ID, A_NAME
FROM 
(
    SELECT A.ANIMAL_ID , A.NAME  AS A_NAME, B.NAME AS B_NAME
    FROM ANIMAL_OUTS A
    LEFT OUTER JOIN ANIMAL_INS B
    ON(
        A.ANIMAL_ID = B.ANIMAL_ID  
        AND A.NAME = B.NAME
    )
)T1
WHERE A_NAME IS NOT NULL 
AND B_NAME IS NULL

# 프로그래머스 - 있었는데요 없었습니다

In [ ]:
-- 코드를 입력하세요
SELECT ANIMAL_ID , NAME 
FROM 
(
    SELECT A.ANIMAL_ID, A.NAME , A.DATETIME AS A_DATETIME, B.DATETIME AS B_DATETIME
    FROM ANIMAL_INS A
    LEFT OUTER JOIN ANIMAL_OUTS B 
    ON(
        A.ANIMAL_ID = B.ANIMAL_ID 
    )
)T1
WHERE A_DATETIME > B_DATETIME
ORDER BY A_DATETIME